{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['apache2', 'openstack-dashboard', 'python-lesscpy', 'python-memcache', 'gettext-base'],
        'pkgs_multi': ['python-memcache', 'python-psycopg2', 'python-imaging',
            'python-docutils', 'python-simplejson', 'build-essential',
            'libxslt1-dev', 'libxml2-dev', 'libffi-dev', 'libssl-dev',
            'gettext', 'python-lesscpy'],
        'ssl_pkgs': ['openstack-dashboard'],
        'service': 'apache2',
        'config': '/etc/openstack-dashboard/local_settings.py',
        'apache_config': '/etc/apache2/conf-available/openstack-dashboard.conf',
        'certs_dir': '/etc/ssl/certs',
        'private_dir': '/etc/ssl/private',
        'port_config_file': '/etc/apache2/ports.conf',
        'port_config_template': 'salt://horizon/files/ports.conf',
        'cache': {'host': '127.0.0.1', 'port': 11211}
    },
    'RedHat': {
        'pkgs': ['httpd', 'openstack-dashboard', 'python-lesscpy', 'python-memcached'],
        'pkgs_multi': ['python-memcached', 'python-psycopg2', 'python-pillow',
            'python-docutils', 'python-simplejson', 'libxslt-devel', 'gcc',
            'libxml2-devel', 'libffi-devel', 'openssl-devel',
            'gettext', 'python-lesscpy'],
        'ssl_pkgs': ['mod_ssl'],
        'service': 'httpd',
        'config': '/etc/openstack-dashboard/local_settings',
        'apache_config': '/etc/httpd/conf.d/openstack-dashboard.conf',
        'certs_dir': '/etc/pki/tls/certs',
        'private_dir': '/etc/pki/tls/private',
        'port_config_file': '/etc/httpd/conf/httpd.conf',
        'port_config_template': 'salt://horizon/files/httpd.conf',
        'cache': {'host': '127.0.0.1', 'port': 11211}
    },
}, merge=salt['pillar.get']('horizon:server')) %}
