Source: salt-formula-horizon
Maintainer: Ales Komarek <ales.komarek@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-horizon
Vcs-Git: https://github.com/tcpcloud/salt-formula-horizon.git

Package: salt-formula-horizon
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: Horizon salt formula
 Install and configure Horizon web service.
