Source: salt-formula-horizon
Maintainer: Ales Komarek <ales.komarek@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://wiki.openstack.org/wiki/OpenStackSalt
Vcs-Browser: https://github.com/openstack/salt-formula-horizon
Vcs-Git: https://github.com/openstack/salt-formula-horizon.git

Package: salt-formula-horizon
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: Horizon salt formula
 Install and configure Horizon web service.
